 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="  crossorigin=""></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row container-fluid">

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="img/logo2.png" style="">  
            <ul class="navbar-nav me-auto "></ul>
            
            <button class="btn btn-outline-success add_farm" id="add_farm">Thêm đất trồng</button>
 
      </div>

  

  </div>
</nav>